body {
  background-color: aliceblue;
}

.userContainer {
  display: flex;
  margin-top: 2em;
  border: 5px solid green;
  padding: 5px;
}
.header {
  padding: 50px;
  text-align-last: left;
  background: #3ac0a5;
  color: white;
  font-size: 30px;
 
}

.flex-container {
  display: flex;
  justify-content: left;
  text-align: center;  
}

.container {
  border: #000; /* Add a border around the container */ 
  padding: 10px; /* Add some padding for spacing */
  margin: 10px; /* Add margin to separate containers */
}
.button{
margin-left: 10px;
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.myForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.myTable{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
